<?xml version="1.0" encoding="utf-8" ?>
<Menus>
  <Menu>
    <MenuID>1</MenuID>
    <DisplayName>Home</DisplayName>
    <ActionURL>Home/Index</ActionURL>
    <ParentID>0</ParentID>
    <AllowedRole>Admin</AllowedRole>
    <Controller>Admin</Controller>
    <Action>Index</Action>
  </Menu>
  <Menu>
    <MenuID>2</MenuID>
    <DisplayName>Employee</DisplayName>
    <ActionURL>Home/Index</ActionURL>
    <ParentID>0</ParentID>
    <AllowedRole>Employee</AllowedRole>
    <Controller>Employee</Controller>
    <Action>Index</Action>
  </Menu>
  <Menu>
    <MenuID>3</MenuID>
    <DisplayName>Manager</DisplayName>
    <ActionURL>Home/Index</ActionURL>
    <ParentID>2</ParentID>
    <AllowedRole>Manager</AllowedRole>
    <Controller>Manager</Controller>
    <Action>Index</Action>
  </Menu>
  <Menu>
  <MenuID>4</MenuID>
  <DisplayName>Opertion</DisplayName>
  <ActionURL>Home/Index</ActionURL>
  <ParentID>2</ParentID>
  <AllowedRole>Manager</AllowedRole>
  <Controller>Manager</Controller>
  <Action>Index</Action>
  </Menu>

  <Menu>
  <MenuID>5</MenuID>
  <DisplayName>Opertion</DisplayName>
  <ActionURL>Home/Index</ActionURL>
  <ParentID>3</ParentID>
  <AllowedRole>Manager</AllowedRole>
  <Controller>Manager</Controller>
  <Action>Index</Action>
  </Menu>
  
</Menus>